@model RedBadgeProject_Models.RatingDetail

<div>
    <h4>RatingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnjoymentScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnjoymentScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongLengthScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongLengthScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistStyleScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistStyleScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
